{% extends 'structure.html' %}
{% block title %}
Criminal Record
{% endblock title %}
{% block css %}
input{
    margin:10px !important;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 4px solid black;
}
{% endblock css %}
{% block bufferbody %}
<h3 class="text-center">Criminal Number : <small>{{users.criminalid}}</small></h3>

<div class="d-flex">
<img src = "/media/{{users.frontimg}}"  width="300" height="400"/>


<form class="form-signin p-4 w-50" method="POST" enctype="multipart/form-data" action="/cms.safex/update/" >
    {% csrf_token %}
  <div class="d-flex">
    <input
      type="text"
      name="fname" id="fname"
      class="form-control w-75"
      value = "Name : {{users.name}}"
      readonly
      autofocus
    />
    <span class=""></span>
    <input
      type="text"
      name="lname" id="lname"
      class="form-control w-75"
      value ="Father Name : {{users.fathername}}"
      readonly
      autofocus
    />
  </div>
  <input
    type="text"
    name="username"
    class="form-control"
    value = "CNIC : {{users.cnic}}"
    readonly
    autofocus
  />

  <input
    type="text"
    class="form-control"
    value= "City : {{users.city}}"
    readonly
  />
  <input
    type="text"
    id="beltno" name="beltno"
    class="form-control"
    value="Province : {{users.province}}"
    readonly
  />
  <input
    type="text"
    id="phoneno" name="phoneno"
    class="form-control"
    value="Merital Status : {{users.meritalst}}"
    readonly
  />
  <input
    type="text"
    id="cnic" name="cnic"
    class="form-control"
    value="Current Status : {{users.currentst}}"
    readonly
  />
  <input
    type="text"
    id="cnic" name="cnic"
    class="form-control"
    value="Date of Birth : {{users.dob}}"
    readonly
  />
</form>
</div>

<div class="container">
  <hr>
  <h1 class="text-center" style="color:blue; font-family:Arial Black;">Criminal Record's</h1>
  <hr >
  {% if count == 0 %}
  <h1 style="font-family:Arial Black;" class="mt-4 mb-4 pb-4">No Record Found</h1>
  {% else %}
  {% for i in record %}
  <h1 style="font-family:Arial Black;">Record no {{forloop.counter}}</h1>
  <div class="d-flex justify-content-between pt-4">
    <div>
      <p><b>Crime Type : </b>{{i.ctype}} </p>
      <p><b> Area Locality : </b>{{i.locality}}</p>
      <p><b>City : </b>{{i.city}}</p>
    </div>

    <div>
      <p><b>Area Sublocality : </b>{{i.sublocality}}</p>
      <p><b>Added by : </b>{{i.staffid}} </p>
      <p><b>Province : </b>{{i.province}}</p>
    </div>
  </div>
    <br>
    <p class="mb-4"><b>Crime Detail : </b><em>{{i.detail}}</em></p>
    <hr style="width: 43rem;">
  {% endfor %}

  {% endif %}
  
</div>
{% endblock bufferbody %}
